# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test & Coverage
.coverage
htmlcov/
.pytest_cache/